@model Dentist.ViewModels.DailyAvailabilityViewModel
           
<script>
    function filterPracticeByDoctorInDialyAvailability() {
        return { doctorId: '@Model.Id' }
    }

</script>

<fieldset class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.DailyAvailabilityViewModelPersonId)
    
    <div class="editor-label">
        @Html.LabelFor(model => model.DailyAvailabilityViewModelPracticeId, new { @class = "control-label" })
    </div>
    <div class="editor-field">
        @(Html.Kendo().DropDownListFor(model => model.DailyAvailabilityViewModelPracticeId)
              .OptionLabel("--Select--")
              .HtmlAttributes(new { style = "width: 100%", @readonly = "readonly" })
              .DataTextField("Text")
              .DataValueField("Id")
              .DataSource(source => source.Read(read => read.Action("GetAllIdTexts", "Practice"))
              )
              )
        @Html.ValidationMessageFor(model => model.DailyAvailabilityViewModelPracticeId, "", new { @class = "text-danger" })
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.DayOfWeek, new { @class = "control-label" })
    </div>
    <div class="editor-field">
        @(Html.Kendo().DropDownListFor(model => model.DayOfWeek)
              .OptionLabel("--Select--")
                      .HtmlAttributes(new { style = "width: 100%", @readonly = "readonly" })
              .BindTo(EnumHelper.GetSelectList(typeof(DayOfWeek)))

              )
        @Html.ValidationMessageFor(model => model.DayOfWeek, "", new { @class = "text-danger" })
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.IsWorking, new { @class = "control-label" })
    </div>
    <div class="editor-field">
        @(Html.EditorFor(model => model.IsWorking))
        @Html.ValidationMessageFor(model => model.IsWorking, "", new { @class = "text-danger" })
    </div>

    <div class="editor-label">
        @Html.Label("Time", htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="editor-field">
        @Html.Kendo().TimePickerFor(model => model.StartTime1).HtmlAttributes(new {style = "width: 48%"})
        @Html.ValidationMessageFor(model => model.StartTime1, "", new { @class = "text-danger" })
        <strong>-</strong>
        @Html.Kendo().TimePickerFor(model => model.EndTime1).HtmlAttributes(new { style = "width: 48%;float:right" })
        @Html.ValidationMessageFor(model => model.EndTime1, "", new { @class = "text-danger" })
    </div>

    <div class="editor-label">
        @Html.Label("Time2", htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="editor-field">
        @Html.Kendo().TimePickerFor(model => model.StartTime2).HtmlAttributes(new { style = "width: 48%" })
        @Html.ValidationMessageFor(model => model.StartTime2, "", new { @class = "text-danger" })
        <strong>-</strong>
        @Html.Kendo().TimePickerFor(model => model.EndTime2).HtmlAttributes(new { style = "width: 48%;float:right" })
        @Html.ValidationMessageFor(model => model.EndTime2, "", new { @class = "text-danger" })
    </div>
    
    @*<div class="editor-label">
        @Html.Label("Time3", htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="editor-field">
        @Html.Kendo().TimePickerFor(model => model.StartTime3).HtmlAttributes(new { style = "width: 48%" })
        @Html.ValidationMessageFor(model => model.StartTime3, "", new { @class = "text-danger" })
        <strong>-</strong>
        @Html.Kendo().TimePickerFor(model => model.EndTime3).HtmlAttributes(new { style = "width: 48%;float:right" })
        @Html.ValidationMessageFor(model => model.EndTime3, "", new { @class = "text-danger" })
    </div>*@


</fieldset>
