<!DOCTYPE html>
<html>
<head>
    @*Theam that i used http://bootswatch.com/spacelab/*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{
        const string applicationTitle = "My Dentist";
    }
    <title>@ViewBag.Title | @applicationTitle</title>
    <link rel="shortcut icon" href="~/Content/Images/MyDentistLogo.jpg" />
    @Styles.Render("~/Content/kendo/css")
    @Styles.Render("~/Content/css")


    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    <script src="~/content/kendo/cultures/kendo.culture.en-gb.min.js"></script>
    <script src="~/Content/kendo/cultures/kendo.culture.en-GB.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/App_Script/jquery.cookie.js"></script>
    <script src="~/Scripts/JqueryBbq/jquery.ba-bbq.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-cookies.js"></script>
    <script src="~/Scripts/App_Script/Controllers/PatientNoteController.js"></script>
    <script src="~/Scripts/App_Script/app.js"></script>

</head>
<body>
    @{
        var windowsUser = System.Security.Principal.WindowsIdentity.GetCurrent().Name;
        var userIsAuthenticated = User.Identity.IsAuthenticated;
        var userName = User.Identity.Name;
    }
    @*<p> WindowsUser: @windowsUser</p>
        <p> userName: @userName</p>
        <p> userIsAuthenticated: @userIsAuthenticated</p>*@

    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            @*<a class="navbar-brand" href="#">
                    <img src="~/Content/Images/MyDentistLogo.jpg" style="width: 30px" />
                </a>*@
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                <li>@Html.ActionLink("Practice", "Index", "Practice")</li>
                <li>@Html.ActionLink("Patient", "Index", "Patient")</li>
                <li>@Html.ActionLink("Doctor", "Index", "Doctor")</li>
                <li>@Html.ActionLink("Scheduler", "Index", "Scheduler")</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">User Settings<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Daily Availabilities", "DailyAvailabilitySetting", "Settings")</li>
                        <li>@Html.ActionLink("Calender", "EditCalenderSetting", "Settings")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">System<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Care Service", "Index", "CareServices")</li>
                        <li>@Html.ActionLink("Specialization", "Index", "Specializations")</li>
                        <li>@Html.ActionLink("Membership", "Index", "Memberships")</li>
                    </ul>
                </li>

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>


    <div class="well well-sm visible-md-block visible-lg-block" style="left:0;right:0;position:fixed; z-index:1; height: 50px; top: 50px">
        <h2 style="margin: 0px; padding-Left:15px"><strong>@ViewBag.Title</strong></h2>
    </div>

    <div class="container-fluid">
        <div class="row">
            @if (ViewBag.LeftMenuSectionExist != null)
            {
                <div class="col-md-3" style="border-right-style: solid">
                    @Html.Partial("~/Views/Patient/LeftMenu.cshtml")
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            }
            else
            {
                @RenderBody()
            }

        </div>
        <div class="row">
            <div class="col-md-offset-10">
                <footer>
                    <p style="margin-bottom: 0px"> &copy; @DateTime.Now.Year - @applicationTitle</p>
                </footer>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    kendo.culture("en-GB");

    function ValidateDate(dtValue) {
        var dtRegex = new RegExp(/\b\d{1,2}[\/-]\d{1,2}[\/-]\d{4}\b/);
        return dtRegex.test(dtValue);
    }

    $(function () {
        $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }
                var ok = true;
                if (!ValidateDate(value)) {
                    ok = false;
                }
                return ok;
            }, "Invalid date");
    });

    //$(function () {
    //    $.validator.addMethod('datetime',
    //        function (value, element) {
    //            if (this.optional(element)) {
    //                return true;
    //            }
    //            var ok = true;
    //            if (!ValidateDate(value)) {
    //                ok = false;
    //            }
    //            alert("time validator");
    //            return true;
    //        }, "Invalid date");
    //});

    //$(document).ready(function() {
    //    alert("windowOuterHeight : " + window.outerHeight + "\n" +
    //          "windowOuterWeidth : " + window.outerWidth + "\n" +
    //          "windowInnerHeight : " + window.innerHeight + "\n" +
    //          "windowInnerWeidth : " + window.innerWidth + "\n" +
    //          "screenHeight : " + window.screen.height + "\n" +
    //          "screenWeidth : " + window.screen.width + "\n" +
    //          "screenAvailHeight : " + window.screen.availHeight + "\n" +
    //          "screenAvailWeidth : " + window.screen.availWidth +""
    //        );
    //});
</script>