@model Dentist.ViewModels.DoctorViewModel

<div class="col-md-6">
    <div class="form-group">
        @Html.LabelFor(model => model.Practices, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @(Html.Kendo().MultiSelectFor(model => model.Practices)
                  .DataTextField("Text")
                  .DataValueField("Id")
                  .Placeholder("--Select--")
                  .HtmlAttributes(new { style = "width:100%" })
                  .DataSource(source => source.Read(read => read.Action("GetAllIdTexts", "Practice")))
            )
            @Html.ValidationMessageFor(model => model.Practices, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EnumDropDownListFor(model => model.Title, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.Kendo().DatePickerFor(model => model.DateOfBirth)
            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @*<input id="Color" type="color" />
                <script>
                    $("#Color").kendoColorPicker({
                        palette: [
                                  "#fcecd5", "#f9d9ab", "#f6c781", "#c87d0e",
                                  "#9ae5b1", "#35cc62", "#03c03c", "#01601e",
                                  "#e1dca5", "#d0c974", "#a29a36", "#514d1b",
                                  "#c6d9f0", "#8db3e2", "#548dd4", "#17365d",
                                  "#f0d0c9", "#e2a293", "#d4735e", "#65281a",
                                  "#e06750", "#d84226", "#ac341e", "#812717",
                                  "#f9ff99", "#f0ff00", "#d8e600", "#a8b300",
                                  "#887CAF", "#615192", "#261758", "#13073A",
                                  "#947EA0", "#744489", "#3F0E5A", "#2C0243",
                                  "#DEA0C3", "#B66091", "#5A0D39", "#2D0019"
                        ],
                        columns: 8,
                        tileSize: 32
                    });
                </script>*@

            @(Html.Kendo().ColorPickerFor(model => model.Color)
                  .Palette(ColorPickerPalette.WebSafe)
            )

            @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Services, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @(Html.Kendo().MultiSelectFor(model => model.Services)
                  .DataTextField("Text")
                  .DataValueField("Id")
                  .Placeholder("--Select--")
                  .HtmlAttributes(new { style = "width:100%" })
                  .DataSource(source => source.Read(read => read.Action("GetAllIdTexts", "Services")))
            )
            @Html.ValidationMessageFor(model => model.Services, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="col-md-6 ">
    <div class="form-group">
        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Address.AddressLine1, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Address.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address.AddressLine1, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Address.Suburb, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Address.Suburb, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address.Suburb, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Address.City, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Address.City, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address.City, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <input title="Upload profile pic" type="file" id="UploadedAvatar" name="UploadedAvatar" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-7">
        </div>
        <div class="col-md-5">
            <img class="img-thumbnail" src="~/File/Get?id=@Model.AvatarId" alt="avatar" />
        </div>
    </div>
</div>

<script>
    $(document).on('change', '.btn-file :file', function () {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
    });
</script>